<template>
    <div class="main">
        <div class="header">
          <span>填写奖品送货地址</span>
        </div>
        <div class="content">
          <div class="info">
            <!--中奖人姓名-->
              <div class="name">
                <div style="display: flex;"><span style="width: 60px"><span style="color: red;text-align: center">*</span>姓名:</span><input type="text" v-model="vName"></input></div>
                <!--<input class="nameInput" type="text" />-->
              </div>
            <!--中奖人手机号-->
            <div class="name">
              <div style="display: flex"><span style="width: 60px"><span style="color: red;text-align: center">*</span>手机:</span><input type="text" v-model="vPhone"></input></div>
              <!--<input class="nameInput" type="text" />-->
            </div>
            <!--中奖人地址-->
            <div class="address">
              <div class="paddress"><span style="width: 60px"><span style="color: red;text-align: center">*</span>地址:</span><textarea rows="5" :placeholder="addressTip" v-model="vAddress"></textarea></div>
            </div>
          </div>
          <div class="tip">
             <span><span style="color: red">*</span>为必填项</span>
          </div>
          <div class="sure" @click="setAddress">确定</div>
        </div>
      <div class="close" @click="$parent.sAddress=false">
        <span>X</span>
      </div>
    </div>
</template>

<script>
    export default {
        name: "Address",
      data(){
          return{
            text:'国航常旅客会员卡，请按“CA+数字”的格式\n输入正确的航空卡卡号',
            addressTip:'请输入详细地址，如省、市、区、街道、小区名、单元室等',//提示地址
            addressText:'',//填写地址
            isAddrFocus:false,//地址栏是否拥有焦点
            vName:'',
            vPhone:'',
            vAddress:''
          }
      },
      created(){
         this.vName= this.$parent.prizeRecord.recipient_name;
         this.vPhone=this.$parent.prizeRecord.recipient_phone;
         this.vAddress=this.$parent.prizeRecord.address;
        this.getAddressList();
      },
      methods:{
          //设置活动数据接口
            setAddress(){
              if(this.vName==''||this.vPhone==''||this.vAddress==''){
                return;
              }
              this.$axios.post(this.$parent.serverUrl+'event/'+this.$parent.data.id+'/event_result_address/'+this.$parent.pubParams,{recipient_name:this.vName,recipient_phone:this.vPhone,address:this.vAddress})
                .then(data=>{
                  console.log(data)
                  this.$parent.sAddress=false
                });
            },
          //获取地址列表
          getAddressList(){
          this.$axios.get(this.$root.server+'customer_address/'+this.$root.publicParams).then(data=>{
            console.log(data);
            if(this.vName=='' && this.vPhone=='' && this.vAddress==''  ){
              if(data.data.data.length!=0){//地址列表不为空
                data.data.data.filter(item=>{
                  if(item.is_default==true){
                    this.vName=item.recipient_name;
                    this.vPhone=item.recipient_phone;
                    this.vAddress=item.address;
                  }
                });
              }else{//否则跳转至地址添加列表界面
                location.href='addressListfromsetting.html';
              }

            }
            console.log(data.data.data);
          })
            }
      },
    }
</script>

<style scoped>
.main{
  width: 300px;
  height: 400px;
  left: 7%;
  top: 8%;
  position: absolute;
  background-color:rgba(255,255,255,1);
  border-radius:20px;
}
  .header{
    width: 100%;
    height: 15%;
    border-bottom: 1px solid rgba(230,230,230,1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:24px;
    font-weight:100;
    color:rgba(51,51,51,1);
  }
  .content{
    width: 100%;
    height: 85%;
  }
  .info{
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .name{
    border-bottom: 1px solid rgba(224,224,224,1);
    display: flex;
    align-items: center;
    font-size:20px;
    padding: 6px 0;
  }
  .tip{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 30px;
    align-items: flex-start;
    justify-content: center;

  }
  .addressL{
    font-size:20px;
  }
  .sure{
    width:160px;
    height:60px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(0, 0, 0, 0.11);
    box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
    border-radius:10px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:22px;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
.close{
  width: 55px;
  height: 55px;
  background:rgba(255,255,255,1) !important;
  box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
  border-radius:50%;
  position: absolute;
  top: -14px;
  right: -14px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close span{
  font-size: 20px;
}

  .address{
    font-size:20px;
    height: 80px;
    width: 100%;
    word-break: break-word;
  }
  .paddress{
    display: flex;
  }
  .addTip{
    white-space: nowrap;
  }
input{
  border: none;
  outline: none;
  font-size: 16px;
  display: inline;
}
textarea{
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
}
</style>
