<template>
    <div class="main" v-loading="loading">
      <div class="header">
        <span>获取机会！</span>
      </div>
      <div class="content">
          <div class="jTip">
            <span>
              是否同意使用{{pointTimesData!=undefined?parseInt(pointTimesData.defaultPriceInMill)/1000:-1}}积分<br>换取1次抽奖机会,！
            </span>
          </div>
        <div class="sure" @click.once="addSingleOrder()">确定</div>
      </div>
      <div class="close" @click="$parent.sExchangeTimes=false">
        <span>X</span>
      </div>

    </div>
</template>

<script>
    export default {
        name: "exchangeTimes",
      data(){
          return{
            pointTimesData:undefined,//抽奖次数数据
            quantity:1,//默认机会次数为1
            defaultPriceInMill:undefined,//默认价格
            pointData:undefined,
            loading:false,
          }
      },
      created(){
          this.getMerchanis();
          this.getPoint();
      },
      methods:{
        //获取商品至信息
        getMerchanis(){
          this.$axios.get(this.$root.server+'page/search/'+this.$root.publicParams+'&page_type=merchandise&lang_agnostic_id='+this.$langAgnosticId).then(data=>{
            this.pointTimesData=data.data.data;
            this.defaultPriceInMill=parseInt(this.pointTimesData.defaultPriceInMill);
          });
        },
        //添加积分单品
        addSingleOrder(){
          if(this.quantity * this.defaultPriceInMill/1000>this.pointData.point){
                  //积分不足时
              this.$parent.sInsufficientPoints=true;
              this.$parent.sExchangeTimes=false;
              return;
          }
          console.log('123---');
          this.loading=true;
          this.$axios.post(this.$root.server+'cart/single_merchandise_order/'+this.$root.publicParams,{
            quantity:this.quantity,lang_agnostic_id:this.$langAgnosticId,selected:1,variants:[],note:'no'}).then(data=>{
            this.exchaneByPoint(data.data.data.order_id);//换取积分
          });
        },
        //积分支付换取抽奖机会
        exchaneByPoint(id){
          var mark_paid_api=`customer_order/${id}/mark_paid/`;
          this.$axios.post(this.$root.server+mark_paid_api+this.$root.publicParams+'&pay_point='+this.quantity* this.defaultPriceInMill).then(data=>{
            console.log(data);
            this.loading=false;
            this.$parent.sExchangeTimes=false;
          });
        },
        //获取积分信息
        getPoint(){
          this.$axios.get(this.$parent.serverUrl+'customer/point/'+this.$parent.pubParams+'&point_type=cts_mall&customer_uuid='+this.$parent.uuid).then(
            data=>{
              this.pointData=data.data.data.point;
            }
          );
        }
      },
      destroyed(){
        this.$parent.getEventResult();
      }
    }
</script>

<style scoped>
.main{
  width: 90%;
  height: 50%;
  background-color:rgba(255,255,255,1);
  border-radius:20px;
  position: absolute;
  top:20%;
  left: 5%;
}
  .header{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid rgba(230,230,230,1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
    font-family:NotoSansHans-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    letter-spacing:6px;
  }
  .content{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .jTip span{
    font-size:15px;
    color:rgba(51,51,51,1);
  }
  .sure{
    width: 260px;
    height: 72px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(0, 0, 0, 0.11);
    box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
    border-radius:20px;

    font-size:26px;
    font-family:NotoSansHans-Regular;
    color:rgba(51,51,51,1);

    display: flex;
    align-items: center;
    justify-content: center;
  }

.close{
  width: 55px;
  height: 55px;
  background:rgba(255,255,255,1) !important;
  box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
  border-radius:50%;
  position: absolute;
  top: -14px;
  right: -14px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close span{
  font-size: 20px;
}
</style>
