<template>
    <div class="main">
      <div class="header">
        <span>游戏规则</span>
      </div>
      <div class="content1">
        <div>
             <span>
               {{content}}
             </span>
        </div>
      </div>
      <div class="close" @click="$parent.sGameRule=false">
        <span>X</span>
      </div>
    </div>
</template>

<script>
    export default {
        name: "GameRule",
        data(){
          return{
            content:''
          }
        },
        created(){
          this.content=this.$parent.data.translates[this.$parent.defaultLanguage].details;
          console.log(this.content);
        }
    }
</script>

<style scoped>
.main{
  position: absolute;
  width: 90%;
  height: 90%;
  top: 4%;
  left: 5%;
  background:rgba(255,255,255,1);
  border-radius:20px;
}
  .header{
    width: 100%;
    height: 15%;
    border-bottom: 1px solid rgba(230,230,230,1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    font-family:NotoSansHans-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    letter-spacing:6px;
  }
  .content1{
    width: 100%;
    height: 85%;
  }
  .content1 div{
    width: 90%;
    height: 100%;
    font-size:15px;
    color:rgba(51,51,51,1);
    white-space: pre-line;
    text-align: left;
    overflow-y: scroll;
    margin: auto;
    margin-top: -15px;
  }
  .close{
    width: 55px;
    height: 55px;
    background:rgba(255,255,255,1) !important;
    box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
    border-radius:50%;
    position: absolute;
    top: -14px;
    right: -14px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .close span{
    font-size: 20px;
  }
</style>
