<template>
    <div class="main">
      <div class="header">
        <span>{{$parent.prizeData.slot.prizeHintText!='谢谢参与'?'恭喜你':'很遗憾'}}</span>
      </div>
      <div class="content">
          <div class="jTip">
            <span>
              {{$parent.prizeData.slot.prize!='谢谢参与'||$parent.prizeData.slot.prizeHintText!='谢谢参与'?'抽中':''}}{{$parent.prizeData.slot.prize}}
            </span>
          </div>
        <div class="sure" @click="address()">确认</div>
      </div>
      <div class="close" @click="$parent.sGetWinner=false,$parent.rotate.animationName=''">
        <span>X</span>
      </div>
    </div>
</template>

<script>
    export default {
        name: "GetWinner",
      created(){
        console.log('$parent.prizeData',this.$parent.prizeData);
      },
      methods:{
         address(){
              this.$parent.rotate.animationName='';
              this.$parent.sGetWinner=false;

         }
      },
      destroyed(){
        // this.$parent.slotIndex++;
        // if(this.$parent.slots.length<=this.$parent.slotIndex){
        //   this.$parent.sAddress=true;
        // }
        if(this.$parent.prizeData.slot.prize!='谢谢参与'||this.$parent.prizeData.slot.prizeHintText!='谢谢参与') {
          /*if(this.$parent.prizeData.slot.prize.indexOf('航空里程')!=-1){
             this.$parent.sWinFlightCard=true;
            this.$parent.sAddress=true;
          }else if(this.$parent.prizeData.slot.prize.indexOf('200京东抵用券')!=-1){
            this.$parent.sVoucher=true;
          }else{

          }*/
          this.$parent.sAddress=true;
        }
      }
    }
</script>

<style scoped>
.main{
  width: 90%;
  height: 50%;
  background-color:rgba(255,255,255,1);
  border-radius:20px;
  position: absolute;
  top:20%;
  left: 5%;
}
  .header{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid rgba(230,230,230,1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
    font-family:NotoSansHans-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    letter-spacing:4px;
  }
  .content{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .jTip span{
    font-size:15px;
    color:rgba(51,51,51,1);
  }
  .sure{
    width: 260px;
    height: 72px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(0, 0, 0, 0.11);
    box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
    border-radius:20px;

    font-size:26px;
    font-family:NotoSansHans-Regular;
    color:rgba(51,51,51,1);

    display: flex;
    align-items: center;
    justify-content: center;
  }

.close{
  width: 55px;
  height: 55px;
  background:rgba(255,255,255,1) !important;
  box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
  border-radius:50%;
  position: absolute;
  top: -14px;
  right: -14px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close span{
  font-size: 20px;
}
</style>
