<template>
    <div class="main">
      <div class="header">
        <span>很遗憾！！</span>
      </div>
      <div class="content">
          <div class="jTip">
            <span>
              很遗憾您没有中奖，再接再厉把!
            </span>
          </div>
        <div class="try">再试一次</div>
      </div>
      <div class="close" @click="$parent.sPointNoPrize=false">
        <span>X</span>
      </div>
    </div>
</template>

<script>
    export default {
        name: "PointNoPrize"
    }
</script>

<style scoped>
.main{
  width: 90%;
  height: 50%;
  background-color:rgba(255,255,255,1);
  border-radius:20px;
  position: absolute;
  top:20%;
  left: 5%;
}
  .header{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid rgba(230,230,230,1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    font-family:NotoSansHans-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    letter-spacing:6px;
  }
  .content{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .jTip span{
    font-size:18px;
    color:rgba(51,51,51,1);
  }
  .try{
    width: 260px;
    height: 72px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(0, 0, 0, 0.11);
    box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
    border-radius:20px;

    font-size:26px;
    font-family:NotoSansHans-Regular;
    color:rgba(51,51,51,1);

    display: flex;
    align-items: center;
    justify-content: center;
  }

.close{
  width: 55px;
  height: 55px;
  background:rgba(255,255,255,1) !important;
  box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
  border-radius:50%;
  position: absolute;
  top: -14px;
  right: -14px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close span{
  font-size: 20px;
}
</style>
