<template>
  <div class="main">
    <div class="header">
      <span>好运分享</span>
    </div>
    <div class="content">
      <div class="jTip">
            <span>
              今天玩儿High了吗？<br>把好运气分享给朋友吧！
            </span>
      </div>
      <div class="share">
          <div class="shareTip"><span>分享到</span></div>
          <div class="shareIcon">
             <span class="pyq"><img src="../../assets/pyq.png"/></span>
             <span class="wx"><img src="../../assets/wx.png"/></span>
          </div>
      </div>
    </div>
    <div class="close" @click="$parent.sShareLucky=false">
      <span>X</span>
    </div>
  </div>
</template>

<script>
  import wx from 'weixin-js-sdk'
  export default {
    name: "ShareLucky",
    data(){
      return{
        access_token:''
      }
    },
    created(){
      this.$axios.get('https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&appid=wx1c4dee0a322dd2fe&secret=11b284133eb9a2869e589173643c9d50')
        .then(data=>{
              this.access_token=data.access_token;
              console.log('data**',data);
              this.ticket();
        })

    },
    methods:{
        config(){
          wx.config({
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wx1c4dee0a322dd2fe', // 必填，公众号的唯一标识
            timestamp:'' , // 必填，生成签名的时间戳
            nonceStr: '', // 必填，生成签名的随机串
            signature: '',// 必填，签名
            jsApiList: ['updateTimelineShareData'] // 必填，需要使用的JS接口列表
          })
        },
      ticket(){
        console.log('-----');
          var url=`https://api.weixin.qq.com/cgi-bin/ticket/getticket?access_token=${this.access_token}&type=jsapi`;
        this.$axios.get(url)
          .then(data=>{
            console.log('++++++');
          }).catch(error=>{
            console.log('00000')
        })
      }
    }
  }
</script>

<style scoped>
  .main{
    width: 90%;
    height: 50%;
    background-color:rgba(255,255,255,1);
    border-radius:20px;
    position: absolute;
    top:20%;
    left: 5%;
  }
  .header{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid rgba(230,230,230,1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    font-family:NotoSansHans-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    letter-spacing:6px;
  }
  .content{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .jTip span{
    font-size:17px;
    color:rgba(255,100,85,1);
    font-size:20px;
  }
  .share{
    width: 100%;
    height: 30%;
    margin-top: -30px;
  }
  .shareTip{
    text-align: left;
    margin-top: 5px;
    margin-left: 10%;
    font-size:15px;
    color:rgba(105,105,105,1);
  }
  .shareIcon{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  .shareIcon span{
    display: block;
    width: 20%;
  }
  .shareIcon img{
    display: block;
    width: 80%;
  }
  .pyq{
    margin-left: 18%;
  }
  .wx{
    margin-right: 18%;
  }
  .close{
    width: 55px;
    height: 55px;
    background:rgba(255,255,255,1) !important;
    box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
    border-radius:50%;
    position: absolute;
    top: -14px;
    right: -14px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .close span{
    font-size: 20px;
  }

</style>
