<template>
    <div class="main" v-loading="loading">
      <div class="header">
        <span>领取奖品</span>
      </div>
      <div class="content">
          <div class="jTip">
            <span>
              获得<span v-if="false">{{$parent.prizeData.slot.prize}}</span>,如需领取,请【确认】!
            </span>
          </div>
        <div class="sure" @click.once="addSingleOrder()">确认</div>
      </div>
      <div class="close" @click="$parent.sVoucher=false">
        <span>X</span>
      </div>
    </div>
</template>

<script>
    export default {
        name: "Voucher",
      data(){
          return{
            pointTimesData:undefined,
            quantity:1,//数量
            loading:false,
          }
      },
        created(){
          this.getMerchanis();
        },
      methods:{
        //获取商品至信息
        getMerchanis(){
          this.$axios.get(this.$root.server+'page/search/'+this.$root.publicParams+'&page_type=merchandise&lang_agnostic_id=e_coupon_1234').then(data=>{
            this.pointTimesData=data.data.data;
            console.log(this.pointTimesData);
            // this.addSingleOrder();//单品下单,
          });
        },
        //添加积分单品
        addSingleOrder(){
          this.loading=true;
          this.$axios.post(this.$root.server+'cart/single_merchandise_order/'+this.$root.publicParams,{
            quantity:this.quantity,lang_agnostic_id:'e_coupon_1234',selected:1,variants:[],note:'no'}).then(data=>{
            console.log(data);
            this.exchaneByPoint(data.data.data.order_id);//领取优惠券
          });
        },
        //领取优惠券
        exchaneByPoint(id){
          var mark_paid_api=`customer_order/${id}/mark_paid/`;
          var defaultPriceInMill=parseInt(this.pointTimesData.defaultPriceInMill);
          this.$axios.post(this.$root.server+mark_paid_api+this.$root.publicParams+'&pay_point='+this.quantity* defaultPriceInMill).then(data=>{
            console.log(data);
            this.loading=false;
            // this.$parent.sVoucher=false;
          });
        }
      }
    }
</script>

<style scoped>
.main{
  width: 90%;
  height: 50%;
  background-color:rgba(255,255,255,1);
  border-radius:20px;
  position: absolute;
  top:20%;
  left: 5%;
}
  .header{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid rgba(230,230,230,1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    font-family:NotoSansHans-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    letter-spacing:6px;
  }
  .content{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .jTip span{
    font-size:18px;
    color:rgba(51,51,51,1);
  }
  .sure{
    width: 260px;
    height: 72px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(0, 0, 0, 0.11);
    box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
    border-radius:20px;

    font-size:26px;
    font-family:NotoSansHans-Regular;
    color:rgba(51,51,51,1);

    display: flex;
    align-items: center;
    justify-content: center;
  }

.close{
  width: 55px;
  height: 55px;
  background:rgba(255,255,255,1) !important;
  box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
  border-radius:50%;
  position: absolute;
  top: -14px;
  right: -14px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close span{
  font-size: 20px;
}
</style>
