<template>
    <div class="main">
        <div class="header">
          <span>填写以下信息</span>
        </div>
        <div class="content">
          <div class="info">
            <!--持卡人姓名-->
              <div class="name">
                <div ><span style="width: 112px;text-align: left;white-space: nowrap"><span style="color: red;">*</span>持卡人姓名：</span><input type="text" v-model="vName" style="min-width: 10px;width: 150px"></input></div>
                <!--<input class="nameInput" type="text" />-->
              </div>
            <!--航空公司名称-->
            <div class="name">
              <div ><span style="width: 124px;text-align: left;white-space: nowrap"><span style="color: red;">*</span>航空公司名称：</span><input type="text" v-model="vfName" style="min-width: 10px;;width: 150px"></input></div>
              <!--<input class="nameInput" type="text" />-->
            </div>
            <!--航空卡卡号-->
            <div class="name">
              <div ><span style="width: 112px;text-align: left;white-space: nowrap"><span style="color: red;">*</span>航空卡卡号：</span><input type="text" v-model="vCardNo" style="min-width: 10px;;width: 150px"></input></div>
              <!--<input class="nameInput" type="text" />-->
            </div>
          </div>
          <div class="tip">
             <span><span style="color: red">*</span>为必填项</span>
             <span style="white-space: pre-wrap;text-align: left">{{text}}</span>
          </div>
          <div class="sure" @click="confirm()">确定</div>
        </div>
      <div class="close" @click="$parent.sWinFlightCard=false">
        <span>X</span>
      </div>
    </div>
</template>

<script>
    export default {
        name: "WinFlightCard",
      data(){
          return{
            text:'国航常旅客会员卡，请按“CA+数字”的\n格式输入正确的航空卡卡号',
            vName:'',//持卡人姓名
            vfName:'',//航空公司名称
            vCardNo:'',//航空卡卡号
          }
      },
      methods:{
        confirm(){
          this.$parent.sWinFlightCard=false
        }
      }
    }
</script>

<style scoped>
.main{
  width: 300px;
  height: 400px;
  left: 7%;
  top: 8%;
  position: absolute;
  background-color:rgba(255,255,255,1);
  border-radius:20px;
}
  .header{
    width: 100%;
    height: 15%;
    border-bottom: 1px solid rgba(230,230,230,1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:28px;
    font-family:NotoSansHans-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
  .content{
    width: 100%;
    height: 85%;
  }
  .info{
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .name{
    border-bottom: 1px solid rgba(224,224,224,1);
    display: flex;
    align-items: center;
    font-size:18px;
    padding: 6px 0;
  }
  .name>div{
    display: flex;
    overflow: hidden;
  }
  .tip{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 30px;
    align-items: flex-start;
    justify-content: center;
  }
  .sure{
    width:160px;
    height:60px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(0, 0, 0, 0.11);
    box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
    border-radius:10px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:22px;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
.close{
  width: 55px;
  height: 55px;
  background:rgba(255,255,255,1) !important;
  box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
  border-radius:50%;
  position: absolute;
  top: -14px;
  right: -14px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close span{
  font-size: 20px;
}
input{
  border: none;
  outline: none;
  font-size: 16px;
  display: inline;
}
</style>
