<template>
    <div class="main" v-cloak v-loading="loading&&loading1">
      <div class="header">
        <span>积分及中奖记录</span>
      </div>
      <div class="content">
        <div class="cTran">
          <div class="AvailablePoints">
            <span>可用积分:<span style="color: #e03620;font-size: 21px">{{pointData!=undefined?pointData.point:-1}}</span></span>
          </div>
          <!--统计奖品-->
          <div class="winTotal">
            <!--抽奖次数-->
             <div class="joinTimes">
                <span class="jTimesTitle">抽奖次数</span>
                <span class="jTimesCount">{{eventData!=undefined?eventData.total_chances-eventData.num_chances:''}}</span>
             </div>
            <!--中奖次数-->
             <div class="joinTimes">
               <span class="jTimesTitle">中奖次数</span>
               <span class="jTimesCount">{{eventData!=undefined?eventData.prize_history.length:''}}</span>
             </div>
          </div>
          <!--详情列表-->
          <div class="winDetail">
            <!--详情页标题-->
             <div class="wDetailTitle">
               <span>中奖时间</span>
               <span>中奖奖品</span>
             </div>
            <div class="wDetailContent">
              <ul class="wDetailList">
                <li v-for="(item,index) in prizeData">
                  <span>{{item.timestamp_usec|timeStape2Time}}</span>
                  <span>{{item.prize}}</span>
                </li>
              </ul>
            </div>
          </div>
          <!--翻页按钮-->
          <div class="flipPage">
            <span class="pPage" @click="prePage">上一页</span>
            <span class="pRange">{{cPage}}/{{totalPage}}</span>
            <span class="nPage" @click="nextPage">下一页</span>
          </div>
        </div>
      </div>
      <div class="bottom">
        <span>您可查询最近30天的抽奖信息！</span>
      </div>
      <div class="close" @click="$parent.sWinningRecord=false">
        <span>X</span>
      </div>
    </div>
</template>

<script>
    export default {
        name: "WinningRecord",
      data(){
          return{
            data:[
              {time:"2018-29.18",title:'Iphone'}
              ],
            pointData:undefined,//积分,
            last_update_time_usec:undefined,//上次时间,
            eventData:undefined,//抽奖数据
            prizeData:[],//奖品数据
            prizes:[],//奖品总数据
            step:5,//页面默认步长5
            point:0,//指针指向奖品0
            cPage:1,//当前页面
            totalPage:-1,//总页面
            prize_history:[],//历史记录
            Day30:30*24*60*60*1000*1000, //30天前时间戳,微妙
            loading:false,//加载ing
            loading1:false,//加载ing
          }
      },
      created(){
           this.init();
      },
      methods:{
          init(){
            this.loading=this.loading1=true;
            this.getPoint();
            this.getEventResult();
          },
          //获取积分信息
          getPoint(){
            this.$axios.get(this.$parent.serverUrl+'customer/point/'+this.$parent.pubParams+'&point_type=cts_mall&customer_uuid='+this.$parent.uuid).then(
              data=>{
                this.pointData=data.data.data.point;
                this.loading1=false;
              }
            );
          },
        //获取用户抽奖记录
        getEventResult(){
          this.$axios.get(this.$parent.serverUrl+'event/'+this.$parent.data.id+'/event_result/'+this.$parent.pubParams)
            .then(data=>{
              this.last_update_time_usec=data.data.data.last_update_time_usec;
              this.eventData=data.data.data;
              console.log(this.now());
              this.prize_history=this.eventData.prize_history.filter((item,index)=>{
                console.log(item.timestamp_usec);
                return this.now()-item.timestamp_usec<=this.Day30;
              }).reverse();
              this.cPage=this.prize_history.length==0?0:1;
              this.loading=false;
              var mm=this.prize_history.length%this.step==0?0:1;//是否有余
              this.totalPage=parseInt(this.prize_history.length/5)+mm;//总页数
              this.changeData();
            });
        },
        //下一页
        nextPage(){
          this.point<this.prize_history.length&this.prize_history.length-this.point>this.step?(this.point+=this.step,this.cPage+=1):'';
          this.changeData();
        },
        //上一页
        prePage(){
          this.point>0?(this.point-=this.step,this.cPage-=1):'';
          this.changeData();
        },
        //切换屏幕内容
        changeData(){
          this.prizeData=this.prize_history.filter((item,index)=>
          {
            return index <this.step+this.point && index>=this.point;
          });
        },
        //返回当前时间戳
        now(){
           return new Date().getTime()*1000;
        }
      },
      filters:{
          //时间戳转换为日期时间
          timeStape2Time(value){
            var timestamp=parseInt(value/1000);

            var date = new Date(timestamp);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            var D = date.getDate() + ' ';
            var h = date.getHours() + ':';
            var m = date.getMinutes() + ':';
            var s = date.getSeconds();
            var date = Y+M+D;
            var time=h+m+s;
            console.log(date);
            return date;
          }
      }
    }
</script>

<style scoped>
.main{
  width: 86%;
  height: 86%;
  left: 7%;
  top: 6%;
  position: absolute;
  background-color:rgba(255,255,255,1);
  border-radius:20px;
}
  .header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header span{
    font-size:25px;
    color:rgba(51,51,51,1);
    font-weight: 100;
  }
  .content{
    width: 100%;
    height: 80%;
  }

  .cTran{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
.AvailablePoints{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
  .AvailablePoints span{
    font-size:18px;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
  .winTotal{
    width: 100%;
    height: 10%;
    background:rgba(234,234,234,1);
    border:1px solid rgba(0, 0, 0, 0.11);
    border-radius:8px;
    display: flex;
  }
  .winTotal > div{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .jTimesTitle{
    font-size:18px;
    font-weight:300;
    color:rgba(51,51,51,1);
  }
  .jTimesCount{
    font-size:20px;
    font-weight:300;
    color:rgba(243,70,70,1);
    background-color: white;
    padding: 4px 6px;
    border: 1px solid white;
    border-radius: 10px;
  }
  .winDetail{
    width: 100%;
    height: 70%;
  }
  .wDetailTitle{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-size:18px;
    font-weight:400;
    color:rgba(51,51,51,1);
    padding: 2px 0;
  }
  .wDetailContent{
    width: 100%;
    height: 90%;
  }
.wDetailList{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
  .wDetailList li{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    font-size:16px;
    font-weight:300;
    color:rgba(51,51,51,1);
    border-top: 1px solid rgba(217,217,217,1);
  }
.wDetailList li:last-child{
  border-bottom: 1px solid rgba(217,217,217,1);
}
  .flipPage{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pPage,.nPage{
    background:rgba(234,234,234,1);
    border-radius:16px;
    padding: 6px 10px;
  }
  .bottom{
    width: 100%;
    height: 10%;
  }
  .bottom span{
    font-size:16px;
    font-weight:lighter;
    color:rgba(51,51,51,1);
  }
.close{
  width: 55px;
  height: 55px;
  background:rgba(255,255,255,1) !important;
  box-shadow:0px 8px 10px 0px rgba(0, 0, 0, 0.13);
  border-radius:50%;
  position: absolute;
  top: -14px;
  right: -14px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close span{
  font-size: 20px;
}
</style>
