<template>
  <div class="main" v-cloak v-loading="loading">
    <!--幸运抽奖-->
    <div class="above" :style="{backgroundImage:'url('+backgroundImage+')'}">
      <div class="header">
        <span>{{data!=undefined?data.translates[defaultLanguage].title:'心享幸运转'}}</span>
      </div>
      <div class="drawBody">
        <div class="drawRule" @click="sGameRule=true">
          <span>游戏规则>></span>
        </div>
        <!--转盘图标与指针图标-->
        <div class="drawCont">
              <div style="width: 100%"><img :style="[rotate]" class="drawImg" ref="drawImg" :src="wheelImage!=undefined?wheelImage:require('../assets/drawroll.png')"/></div>
              <div class="drawbtn" @click.stop="startGame()"><img :src="startButtonImage!=undefined?startButtonImage:require('../assets/drawbtn.png')" class="draw_img_btn"/></div>
        </div>
        <div class="drawTip">
            <div class="childTip">
              <span class="chance">您今天还有<span style="color: red;font-size:20px;font-weight:bold; ">&nbsp;{{lastTimes}}&nbsp;</span>次抽奖机会，每天只能玩{{data!=undefined?data.wheelOfFortuneSettings.defaultChancesPerCustomer:0}}次哦!</span>
              <span class="history" @click="sWinningRecord=true">查询积分及中奖记录>></span>
            </div>
        </div>
      </div>
    </div>
    <!--新品推荐-->
    <div class="newRecommand">
        <div class="newTitle">
            <span>新品推荐</span>
        </div>
      <!--推荐内容-->
      <div class="rContent">
            <!--内容列表-->
           <ul class="rList">
             <!--内容项-->
             <li class="rItem" v-for="(item,index) in recommandData.all_merchandises">
               <!--商品信息-->
               <div class="gInfo">
                    <!--商品图片-->
                    <div class="gImg">
                      <img :src="item.defaultImage!=undefined?flatImg(item.defaultImage.internalImageId):require('../assets/erji.png')"/>
                    </div>
                    <!--商品描述-->
                    <div class="gDesc">
                         <!--商品名称-->
                         <div class="gName"><span>{{item.translates[defaultLanguage].title}}</span></div>
                         <!--商品价格-->
                         <div class="gPrice">
                           <!--商品折后价-->
                           <div class="iPrice">
                             <!--<img src="../assets/p.png"/>-->
                             <img :src="$root.$pI"/>
                             <span class="inPrice">{{item.defaultPriceInMill}}</span>
                           </div>
                           <!--商品原价-->
                           <span class="regularPrice">{{item.regularDefaultPriceInMill}}</span>
                         </div>
                    </div>
               </div>
               <!--兑换按钮-->
               <div class="nowChange" @click.stop="toDetail(item.id)">
                 {{defaultLanguage=='zh-cn'?'立即兑换':'Redeem now'}}
               </div>
             </li>
           </ul>
      </div>
    </div>
    <!--子组件对话框-->
    <!--游戏规则-->
    <GameRule v-if="sGameRule"/>
    <!--加入会员-->
    <JoinMember v-if="sJoinMember"/>
    <!--积分不足-->
    <InsufficientPoints v-if="sInsufficientPoints"/>
    <!--无积分未中奖-->
    <NoPrize v-if="sNoPrize"/>
    <!--有积分未中奖-->
    <PointNoPrize v-if="sPointNoPrize"/>
    <!--游戏未开始-->
    <GameNotStart v-if="sGameNotStart"/>
    <!--中奖页面-->
    <GetWinner v-if="sGetWinner"/>
    <!--好运分享-->
    <ShareLucky v-if="sShareLucky"/>
    <!--中奖记录-->
    <WinningRecord v-if="sWinningRecord"/>
    <!--赢得航空卡-->
    <WinFlightCard v-if="sWinFlightCard"/>
    <!--奖品送货地址-->
    <Address v-if="sAddress"/>
    <!--奖品送货地址-->
    <exchangeTimes v-if="sExchangeTimes"/>
    <!--领取优惠券-->
    <Voucher v-if="sVoucher"/>
  </div>
</template>

<script>
  import GameRule from '@/components/child/GameRule'
  import JoinMember from '@/components/child/JoinMember'
  import InsufficientPoints from '@/components/child/InsufficientPoints'
  import NoPrize from '@/components/child/NoPrize'
  import GameNotStart from '@/components/child/GameNotStart'
  import GetWinner from '@/components/child/GetWinner'
  import PointNoPrize from '@/components/child/PointNoPrize'
  import ShareLucky from '@/components/child/ShareLucky'
  import WinningRecord from '@/components/child/WinningRecord'
  import WinFlightCard from '@/components/child/WinFlightCard'
  import Address from '@/components/child/Address'
  import exchangeTimes from '@/components/child/exchangeTimes'
  import Voucher from '@/components/child/Voucher'
export default {
  name: 'Main',
  components:{
    GameRule,JoinMember,InsufficientPoints,NoPrize,GameNotStart,GetWinner,PointNoPrize,ShareLucky,WinningRecord,WinFlightCard,Address,exchangeTimes,
    Voucher
  },
  data () {
    return {
      data0:[{},{},{},{}],
      sGameRule:false, //游戏规则
      sJoinMember:false,//加入会员
      sInsufficientPoints:false,//积分不足
      sNoPrize:false,//无积分未中奖
      sPointNoPrize:false,//有积分未中奖
      sGameNotStart:false,//游戏未开始
      sGetWinner:false,//获得奖品
      sShareLucky:false,//好运分享
      sWinningRecord:false,//中奖记录
      sWinFlightCard:false,//获得航空卡
      sAddress:false,//奖品送货地址
      sExchangeTimes:false,//获取抽奖机会对话框
      sVoucher:false,//领取抵用券对话框
      startDegree:0,//旋转开始角度,开始0
      endDegree:0,//旋转结束角度,结束0
      singleDegree:0,//平均每项角度
      rotate:{
        animationName:'',//动画名称
        animationDuration:'3s',//动画时长
        animationFillMode:'forwards',//动画结束停止位置
        animationTimingFunction:'ease-out',//曲线速度
        animationIterationCount:1,//动画次数
      },
      isStartAni:false,//是否开始动画,
      serverUrl:undefined,//服务器地址
      pubParams:undefined,//参数
      startButtonImage:undefined,//开始按钮图片
      wheelImage:undefined,//转盘指针图片
      defaultLanguage:'zh-cn',//默认语言中文
      data:undefined,//抽奖数据对象,默认未定义
      numSpinsBeforeStop:3,//动画旋转圈数,默认3圈,
      numSlots:8,//总份额默认8份
      slots:undefined,//奖项,
      recommandData:[],//新品推荐
      imgList:undefined,//图片列别
      defaultLanguage:'zh-cn',//默认语言
      uuid:'',//设备识别号
      prizeData:'',//中奖信息
      prizeRecord:'',//中奖记录
      lastTimes:-1,//剩余次数
      eventStartTimestampUsec:'',//活动开始时间
      eventEndTimestampUsec:'',//活动结束时间
      canPlay:true,//是否可以开始游戏
      backgroundImage:require('../assets/dBackground.png'),
      pointTimesData:undefined,//积分次数数据
      quantity:1,//默认机会次数
      pointData:undefined,//积分信息集
      loading:false,//加载窗
    }
  },
  created(){
    this.serverUrl=this.$root.server;
    this.pubParams=this.$root.publicParams;
    this.defaultLanguage=localStorage.DefaultLanguage;
    this.uuid=localStorage.uuid;//设备识别号
    this.imgList=JSON.parse(localStorage.imglist);//获取图片列表
    // this.getEvents();//获取活动列表
    // this.getProfile();
    this.JudgeLogin();//判断用户是否登陆
    this.getRecommand();//获取新品推荐
    //动画监听
    this.$nextTick(()=>{
      //动画开始
      this.$refs.drawImg.addEventListener('animationstart',()=>{
        this.isStartAni=true;
        console.log('animationstart');
      })
      //动画结束
      this.$refs.drawImg.addEventListener('animationend',()=>{
            // this.sGetWinner=true;
        console.log('animationend');
        this.lastTimes-=1;
        //3秒后显示中奖页面
        setTimeout(()=>{
          this.sGetWinner=true;
          this.isStartAni=false;
          this.canPlay=true;
          },1000);
         this.getEventResult(this.data.id);
      })
    })
  },
  methods:{
    //开始动画
    startAnimation(slotIndex){
      if( this.isStartAni ){
        return;
      }
      var tt=document.styleSheets[0];
      //检测是否包含该动画
      var item=this.slots[slotIndex];
      this.startDegree=item.slotSpan*this.singleDegree-this.singleDegree;//开始角度,即每个奖品项中间位置
      this.endDegree=(360-this.startDegree)+this.numSpinsBeforeStop*360;//指针指向的位置,终点位置加上圈数
      var rule=`@keyframes myrotate{0%{transform:rotate(${this.startDegree}deg);}   100%{transform:rotate(${this.endDegree}deg);}}`;
      if(document.styleSheets[0].rules[1]!=undefined&&document.styleSheets[0].rules[1].name=='myrotate'){
        tt.deleteRule(1);//清除之前写入的动画
      }
      tt.insertRule(rule,1);//重新插入新的动画
      // this.$refs.drawImg.classList.add('aab');
      this.rotate.animationName='myrotate';//开始动画
    },
    //设置活动数据接口,获取抽奖信息接口
    startGame(){
      //或上一次操作未结束，则返回
      if (this.canPlay==false){
        return;
      }
      //次数为0,积分还次数
      if(this.lastTimes==0){
        this.sExchangeTimes=true;
        return;
      }
      var isStartTime=this.isStartTime();
      if(!isStartTime){
        this.sGameNotStart=true;//游戏未开始
        return;
      }
      this.canPlay=false;//标记游戏进行中状态,未结束.
      var event_id=this.data.id;
      var num_chances=this.lastTimes;//剩余次数
      var event_type=this.data.eventType;
      this.$axios.post(this.serverUrl+'event/'+event_id+'/event_result/'+this.pubParams,{event_type:event_type,num_chances:num_chances})
        .then(data=>{
          console.log(data);
          var slot_index = data.data.data.slot_index;
          this.prizeData=data.data.data;
          this.startAnimation(slot_index);//获取奖品信息,开始动画
        }).catch(e=>{
        this.canPlay=true;
      });
    },
    //获取活动列表
    getEvents(){
      this.loading=true;
      this.$axios.get(this.serverUrl+'event/'+this.pubParams)
        .then(data=>{
           // console.log(data.data.data[0].translates[this.defaultLanguage].details);
          console.log(data.data.data);
          data.data.data.filter(item=>{
            if(item.langAgnosticId==this.$langAgnosticId){
              this.data=item;
              this.numSpinsBeforeStop=item.wheelOfFortuneSettings.numSpinsBeforeStop;//服务端配置的圈数
              this.slots=item.wheelOfFortuneSettings.slots;//奖品项
              this.numSlots=this.slots.length;
              this.eventStartTimestampUsec=item.eventStartTimestampUsec;
              this.eventEndTimestampUsec=item.eventEndTimestampUsec;
              this.backgroundImage=item.background.image!=undefined?this.imgList.data[item.background.image.internalImageId].internal_image_url:require('../assets/dBackground.png');//配置背景图片
              this.singleDegree=360/this.numSlots;//等份每项角度
              this.getEventResult(this.data.id);//获取当前抽奖信息
            }
          });
          //获取按钮指针
          //  this.getImage('startButtonImage',this.data.wheelOfFortuneSettings.startButtonImage.internalImageId);
          var startButtonImageId=this.data.wheelOfFortuneSettings.startButtonImage.internalImageId
          this.startButtonImage=this.imgList.data[startButtonImageId].internal_image_url;
          //获取转盘指针
          // this.getImage('wheelImage',this.data.wheelOfFortuneSettings.wheelImage.internalImageId);
          var wheelImageId=this.data.wheelOfFortuneSettings.wheelImage.internalImageId;
          this.wheelImage=this.imgList.data[wheelImageId].internal_image_url;
          this.loading=false;
        });
    },
    //登陆接口
    Login(){
      this.$axios.post(this.serverUrl+'customer/login/'+this.pubParams,{phone:'+86-18516539064',password:'123456dot',security_code:'923021'})
        .then(data=>{

        });
    },
    //短信验证码,测试成功
    getSecurityCode(){
      this.$axios.post(this.serverUrl+'customer/security_code/'+this.pubParams+'&code_type=login_customer',{phone:'+86-18516539064',lang:'zh-cn'})
        .then(data=>{
            console.log(data);
        });
    },
    //获取cookie
    getCookieValue:function (cookieName){
      var cookieValue = document.cookie;
      var cookieStartAt = cookieValue.indexOf(""+cookieName+"=");
      if(cookieStartAt==-1)
      {
        cookieStartAt = cookieValue.indexOf(cookieName+"=");
      }
      if(cookieStartAt==-1)
      {
        cookieValue = null;
      }
      else
      {
        cookieStartAt = cookieValue.indexOf("=",cookieStartAt)+1;
        var cookieEndAt = cookieValue.indexOf(";",cookieStartAt);
        if(cookieEndAt==-1)
        {
          cookieEndAt = cookieValue.length;
        }
        cookieValue = unescape(cookieValue.substring(cookieStartAt,cookieEndAt));//解码latin-1
      }
      return cookieValue;
    },
    //判断是否登录并有身份信息
    JudgeLogin:function(){
      var that =this;
      var cookie_Phone = that.getCookieValue("phone");
      var cookie_session = that.getCookieValue("mokee_sessionid");
      var hasPhonenum = false;
      var hassession = false;
      if (cookie_Phone != "" && cookie_Phone != undefined && cookie_Phone != null) {
        hasPhonenum = true;
      }
      if (cookie_session != "" && cookie_session != undefined && cookie_session != null) {
        hassession = true;
      }
      if (hasPhonenum && hassession) {
        this.getEvents();//获取活动列表
      }else{
        this.sJoinMember=true;
      }
    },
    //查询用户信息
     getProfile(){
       this.$axios.post(this.serverUrl+'customer/get_profile/'+this.pubParams)
         .then(data=>{
           console.log(data);
         });
     },
    //获取图片接口
    getImage(type,image_id){
      this.$axios.get(this.serverUrl+'image/'+image_id+this.pubParams)
        .then(data=>{
            var internal_image_url=data.data.data.internal_image_url;
            switch (type) {
              case 'startButtonImage':
                this.startButtonImage=internal_image_url;
                break;
              case 'wheelImage':
                this.wheelImage=internal_image_url;
                break;
            }
        });
    },
    //获取抽奖结果记录
    getEventResult(event_id){
      event_id=this.data.id;
      this.$axios.get(this.serverUrl+'event/'+event_id+'/event_result/'+this.pubParams)
        .then(data=>{
            this.prizeRecord=data.data.data;
            this.lastTimes=this.prizeRecord.num_chances;//剩余次数
            console.log(this.prizeRecord);
        });
    },

    //获取新品推荐
    getRecommand(){
      this.$axios.get(this.$root.server+'page/search/'+this.$root.publicParams+'&page_type=info_list&lang_agnostic_id=新品推荐').then(data=>{
        this.recommandData=data.data.data;
        console.log(this.recommandData);
      });
    },
    //填充图片
    flatImg(imgId){
          var imgUrl=this.imgList.data[imgId].internal_image_url
          return imgUrl;
    },
    toDetail(itemId){
      location.href='detail.html?detailid='+itemId;
    },
    isStartTime(){
      var timestamp3 =new Date().getTime()*1000;
      console.log(typeof timestamp3);
      console.log('timestamp3', timestamp3);
      if(timestamp3<=this.eventEndTimestampUsec && timestamp3>=this.eventStartTimestampUsec){
        return true;
      }
      return false;
    },
    //添加积分单品
     addSingleOrder(){
       this.$axios.post(this.$root.server+'cart/single_merchandise_order/'+this.$root.publicParams,{
         quantity:this.quantity,lang_agnostic_id:this.$langAgnosticId,selected:1,variants:[],note:'no'}).then(data=>{
           console.log(data);
         this.exchaneByPoint(data.data.data.order_id);//换取积分
       }).catch(error=>{
         this.canPlay=true;
       });
     },
    //积分支付换取抽奖机会
    exchaneByPoint(id){
      var mark_paid_api=`customer_order/${id}/mark_paid/`;
      var defaultPriceInMill=parseInt(this.pointTimesData.defaultPriceInMill);
      this.$axios.post(this.$root.server+mark_paid_api+this.$root.publicParams+'&pay_point='+this.quantity* defaultPriceInMill).then(data=>{
        console.log(data);
        this.canPlay=true;
        this.getEventResult(this.data.id);
      }).catch(error=>{
        console.log('-----@@@');
        this.canPlay=true;
      });
    },
    //获取商品至信息
    getMerchanis(){
      this.$axios.get(this.$root.server+'page/search/'+this.$root.publicParams+'&page_type=merchandise&lang_agnostic_id='+this.$langAgnosticId).then(data=>{
        this.pointTimesData=data.data.data;
        console.log(this.pointTimesData);
        this.addSingleOrder();//单品下单,
      });
    },

    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .main{
    width: 100%;
    height: 100%;
  }
  .above{
    width: 100%;
    height: 86%;
    /*background-image:linear-gradient(0deg,rgba(201,187,252,1) 0%,rgba(187,243,254,1) 100%);*/
    overflow: hidden;
  }
  .header{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header span{
    font-size:35px;
    font-weight:bold;
    color:rgba(249,106,186,1);
    text-stroke:12px rgba(249,106,186,1);
    webkit-text-stroke:12px rgba(249,106,186,1);
  }
  .drawBody{
    width: 100%;
    height: 85%;

  }
  .drawRule{
    text-align: right;
    position: absolute;
    right: 0;
  }
  .drawRule span{
    font-size:15px;
    font-weight:300;
    color:rgba(224,54,32,1);
  }
  .drawCont{
    width: 94%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .drawTip{
    width: 100%;
    height: 14%;
    /*background:rgba(191,180,248,1);*/
  }
.childTip{
  height: 100%;
  width: 97%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-right: 25px;
}
  .chance{
    font-size:14px;
    color:rgba(51,51,51,1);
  }
  .history{
    font-size:14px;
    color:rgba(224,54,32,1);
  }
  .newRecommand{
    width: 100%;
  }
  .newTitle{
    height: 20%;
    width: 100%;
    margin: 10px 0 5px 0;
    text-align: center;
  }
  .rContent{
    width: 100%;
  }
  .newTitle span{
    font-size:25px;
    font-weight:bold;
    color:rgba(253,122,94,1);
    letter-spacing:20px;
  }
  .rList{
    width: 94%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .rItem{
    width: 30%;
    height: auto;
    /*//上右下左*/
    margin: 8px 3px 5px 6px;
    background:rgba(255,255,255,1);
  }
  .gInfo{
    width: 100%;
    margin: 0;
  }

  .gImg{
      width: 100%;
  }
  .gImg img{
    width: 100%;
    height: 50px;
  }
  .gDesc{
       width: 100%;
       height: 40px;
       position: relative;
       margin-top: -40px;
       background:rgba(0,0,0,0.6);
       opacity:0.4;
       display: flex;
       align-items: flex-end;
       justify-content: flex-end;
       flex-direction: column;
       overflow: hidden;
  }
  .gName{
    width: 100%;
    white-space: nowrap;
    text-align: left;
    color: rgba(255,255,255,1)!important;
    font-size: 10px;
  }
  .gName span{
  }
  .gPrice{
    width: 100%;
    display: flex;
    color:#fb4949 !important;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 9px;
  }
  .iPrice{
    display: flex;
    align-items: flex-end;
  }
  .iPrice img{
    width: 16px;
    height: 16px;
  }
  .regularPrice{
    text-decoration: line-through;
    color: white;
  }
  .nowChange{
    width: 100%;
    background:linear-gradient(90deg,rgba(251,142,142,1) 0%,rgba(251,65,65,1) 100%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
  }
.drawbtn{
  width: 30%;
  position: absolute;
  top: 28.5%;
  left: 34.8%;
  /*transform-origin: center 61.7%;*/
}
  .draw_img_btn{
    width: 100%;
  }
  .drawImg{
    width: 100%;
  }
</style>
