<template>
  <div id="app">
    <router-view/>
  </div>
</template>


<script>
export default {
  name: 'App',
  created(){

  }
}
// ducument.addEventListener('DOMContentLoaded',()=>{
//   const html = document.querySelector('html');
//   let fontSize=window.innerWidth/10;
//   fontSize=fontSize>50?50:fontSize;
//   html.style.fontSize=fontSize+'px';
// });
</script>

<style>
/*#app {*/
  /*font-family: 'Avenir', Helvetica, Arial, sans-serif,NotoSansHans-Black,NotoSansHans-DemiLight,NotoSansHans-Regular,NotoSansHans-Thin,NotoSansHans-Bold,NotoSansHans-Medium,NotoSansHans-Light;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*text-align: center;*/
  /*color: #2c3e50;*/
  /*margin-top: 0px;*/
/*}*/
@font-face {
  font-family: NotoSansHans-Black; //重命名字体名
src: url('./assets/font/NotoSansHans-Black.otf'); //引入字体
font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: NotoSansHans-DemiLight; //重命名字体名
src: url('./assets/font/NotoSansHans-DemiLight.otf'); //引入字体
font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: NotoSansHans-Regular; //重命名字体名
src: url('./assets/font/NotoSansHans-Regular.otf'); //引入字体
font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: NotoSansHans-Thin; //重命名字体名
src: url('./assets/font/NotoSansHans-Thin.otf'); //引入字体
font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:NotoSansHans-Bold; //重命名字体名
src: url('./assets/font/NotoSansHans-Bold.otf'); //引入字体
font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:NotoSansHans-Medium; //重命名字体名
src: url('./assets/font/NotoSansHans-Medium.otf'); //引入字体
font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:NotoSansHans-Light; //重命名字体名
src: url('./assets/font/NotoSansHans-Light.otf'); //引入字体
font-weight: normal;
  font-style: normal;
}
</style>
